@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
body {
    background-color: #212121;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Tangerine', cursive;
}

p {
    margin: 0;
    font-size: 64px;
    padding: 0;
}

img {
  border: 7px solid white;
  border-style: double;
  border-radius: 10px;
  opacity: 0.5;
  transition: opacity 1s ease;
}

img:hover {
  border: 7px solid white;
  border-style: double;
  border-radius: 10px;
  opacity: 1;
}

button {
  margin: 1vh;
  padding: 10px;
  background-color: #212121;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 16px;
  transition: all 500ms ease;
}

button:hover {
  margin: 1vh;
  padding: 10px;
  background-color: white;
  color: black;
  border: 3px solid transparent;
  border-radius: 10px;
  font-size: 16px;
}