* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Prism', cursive;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
}

header > h4 {
    position: absolute;
    bottom: 1rem;
    font-size: 1.6rem;
}

.content {
    opacity: 0;
    margin: 10px;
}

/* Before Splash screen */

/* Splash screen */

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.text-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.text {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.text.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out .5s;
}

.text.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out .5s;
}

/* After Splash screen */

.content.done {
    opacity: 1;
    transition: 1s ease;
}